.container {
  z-index: 10;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@mixin mentionText {
  padding: 7px 10px 3px 10px;
}

// Selected mention text
.mention {
  color: var(--primary-color);
}

// Mentions container
.mentionSuggestions {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: var(--white-color);
  border-radius: 2px;
  cursor: pointer;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

// Mention active text
.mentionSuggestionsEntry {
  @include mentionText;
  transition: background-color 0.4s cubic-bezier(0.27, 1.27, 0.48, 0.56);
  
  &:active {
    background-color: var(--primary-color-100);
  }
}

// CSS when the mention is focused
.mentionSuggestionsEntryFocused {
  padding: 7px 10px 3px 10px;
  background-color: var(--primary-color-100);
  color: var(--white-color)
}

// Mention dropdown text
.mentionSuggestionsEntryText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: column;

  & .email{
    font-size: 0.85rem;
  }
}
